/** Basic config file **/

configuration {
  show-icons: true;
  icon-theme: "Papirus";
  display-drun: "";
  display-window: "﩯 ";
  display-combi: "  ";
  font: "ComicMono 14";
}
@theme "/usr/share/rofi/themes/DarkBlue.rasi"
