/** Basic config file **/

configuration {
  show-icons: true;
  icon-theme: "Papirus";
  display-drun: "";
  display-window: "﩯 ";
  display-combi: "  ";
  font: "ComicMono 14";
}
//@theme "/usr/share/rofi/themes/DarkBlue.rasi"
//@theme "/home/dp/.config/rofi/themes/spotlight.rasi"
@theme "/home/dp/.config/rofi/themes/rounded-blue-dark.rasi"
